.fg_item {
    /*width: 20%;
    float: left;*/
    margin: 10px 0;
    margin-left: 10px;
}

.fg_item_content {
    display: flex;
    height: 3em;
    align-content: center;
    justify-content: center;
    border: 1px solid rgba(68, 138, 255, 0.41);
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.5s ease-in-out 0.2s;
}


.fg_item_content:hover {
    border: 1px solid #448aff;
    background: rgba(68, 138, 255, 0.15);
}

.fg_item_content .icon {
    width: 3em;
    line-height: 2em;
    text-align: center;
    font-size: 1.5em;
    border-right: 1px solid rgba(68, 138, 255, 0.41);
}

.fg_item_content .img {
    width: 5em;
    background-position: center top;
    border-right: 1px solid rgba(68, 138, 255, 0.41);
    background-size: cover;
}

.fg_item_content .name {
    flex: 2 100%;
    padding: 0 0 0 1em;
    line-height: 3em;
    white-space: nowrap;
    overflow: hidden;
}

.fg_item_content .fg_direct_download {
    width: 4em;
    line-height: 3em;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    border-left: 1px solid rgba(68, 138, 255, 0.41);
    transition: all 0.3s ease-out 0.1s;
    color: #3f51b5;
}

.fg_item_content .fg_direct_download:hover {
    background: #3f51b5;
    color: white;
}

.fg_blackwrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.89);
    z-index: 500;
}

.fg_modal {
    display: none;
    position: fixed;
    overflow-y: hidden;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    background: white;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fg_modal_close {
    color: tomato;
    font-size: 2.5em;
    position: absolute;
    bottom: 0;
    right: 10px;
    cursor: pointer;
}

.fg_modal_close:hover {
    color: red;
}

.fg_modal_download {
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    padding: 5px;
    width: 1.5em;
    height: 1.5em;
    line-height: 1;
    border-radius: 50%;
    background: #2170a5;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.33);
}

.fg_modal_download:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.66);
}

.fg_download {
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    padding: 5px;
    width: 1.5em;
    height: 1.5em;
    line-height: 1;
    border-radius: 50%;
    background: #2170a5;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.33);
}

.fg_download:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.66);
}

.fg_modal_title {
    position: fixed;
    padding: 5px 15px;
    top: 2px;
    left: 0px;
    color: white;
    font-weight: bold;
}

.fg_modal_description {
    position: fixed;
    padding: 5px 15px;
    bottom: 2px;
    left: 0px;
    color: white;
    font-weight: bold;
}


.fg_item_content.oldfile {
    font-size: 0.8em;
    margin-left: 3em;
}

.fg_item_content.oldfile {
    border: 1px solid rgba(150, 150, 150, 0.41);
    opacity: 0.6;
}

.fg_item_content.oldfile .name {
    text-decoration: line-through;
}
