.ho_upload {
    padding: 0px 2em 1em;
}

.ho_upload_btn {
    background: #107aa4;
    color: white;
    padding: 7px 15px;
    border-radius: 3px;
    float: left;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 5px;
}

.ho_upload_or {
    background: #919799;
    color: white;
    padding: 7px 15px;
    float: left;
    margin-bottom: 5px;
}

.ho_upload_link_btn {
    background: #1FCC2D;
    color: white;
    padding: 7px 15px;
    border-radius: 3px;
    float: left;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
    margin-bottom: 5px;
}

.ho_upload_link_btn:hover {
    background: #5CCC65;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.ho_upload_limits {
    font-size: 0.9em;
    margin-bottom: 5px;
    color: grey;
}

.ho_upload_btn:hover {
    background: #199fd3;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.ho_upload_errors {
    color: tomato;
    font-size: 0.9em;
}

.ho_upload_fatalerrors {
    color: tomato;
    font-size: 0.9em;
    display: none;
}

.ho_upload_item {
    margin: 10px 0;
}

.ho_upload_item_wrap {
    display: flex;
    height: 3em;
    align-content: center;
    justify-content: center;
    border: 1px solid rgba(68, 138, 255, 0.41);
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.5s ease-in-out 0.2s;
}

.ho_upload_item_wrap:hover {
    border: 1px solid #448aff;
}

.ho_upload_item_wrap .icon {
    line-height: 2em;
    text-align: center;
    font-size: 1.5em;
}

.ho_upload_item_wrap .img {
    width: 5em;
    background-position: center top;
    border-right: 1px solid rgba(68, 138, 255, 0.41);
    background-size: cover;
}

.ho_upload_item_wrap .title {
    flex: 2 100%;
    padding: 0 0 0 1em;
    line-height: 3em;
    white-space: nowrap;
    overflow: hidden;
}

.ho_upload_item_wrap .ext {}


.ho_upload_item_wrap .download,
.ho_upload_item_wrap .edit,
.ho_upload_item_wrap .reupload,
.ho_upload_item_wrap .delete {
    width: 4em;
    line-height: 3em;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    border-left: 1px solid rgba(68, 138, 255, 0.41);
    transition: all 0.3s ease-out 0.1s;
}

.ho_upload_item_wrap .download {
    color: #3f51b5;
}

.ho_upload_item_wrap .edit {
    color: #4caf50;
}

.ho_upload_item_wrap .reupload {
    color: #ffc107;
}

.ho_upload_item_wrap .delete {
    color: tomato;
}


.ho_upload_item_wrap .download:hover {
    background: #3f51b5;
    color: white;
}

.ho_upload_item_wrap .edit:hover {
    background: #4caf50;
    color: white;
}

.ho_upload_item_wrap .reupload:hover {
    background: #ffc107;
    color: white;
}

.ho_upload_item_wrap .delete:hover {
    background: tomato;
    color: white;
}
